//
// FONTS
//

//
// Define fonts here
//





//////////////////////////////////////////////////////////////////////
// FONT A
//////////////////////////////////////////////////////////////////////


//
// REGULAR
//

@font-face {
    font-family: fonta;
    src: url('https://fonts.gstatic.com/s/sofia/v7/8QIHdirahM3j_su5uI0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


//
// REGULAR
//

@font-face {
    font-family: fonta-bold;
    src: url('https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





//////////////////////////////////////////////////////////////////////
// FONT B
//////////////////////////////////////////////////////////////////////


//
// REGULAR
//

@font-face {
    font-family: fontb;
    src: url('https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}