//
// TEXT
//





//////////////////////////////////////////////////////////////////////
// GENERAL
//////////////////////////////////////////////////////////////////////


p, span, pre, em, strong, li, a {
    font-family: fontb !important;
}


p, span, pre, em, strong, li { 
	font-size: $font-size;
	color: $global-text-color;
}

p {
	line-height: 1.4em;
}




//////////////////////////////////////////////////////////////////////
// ANCHOR
//////////////////////////////////////////////////////////////////////


a {
	color: $global-color-primary;
	text-decoration: none;
	transition: $global-transition;

	// &:hover {
	// 	opacity: 0.7;
	// }
}