//
// MENU COMPONENT
//





//////////////////////////////////////////////////////////////////////
// COMPONENT VARIABLES
//////////////////////////////////////////////////////////////////////


$component-menu-padding: $spacing-s;





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


//
// MENU
//

.c-Menu {
	position: fixed;
	z-index: $global-z-index-menu;
	top: 0;
	left: 0;
	background-color: white;
  	display: flex;
 	width: 100%;
  	flex-direction: column;
  	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	@include md {
		border: $global-border;
		flex-direction: row;
		padding: 0 $global-frame-spacing;
	}
}


//
// ITEMS
//

//
// 1. Hide items on mobile device
// 2. Clear defaults for ul
//

.c-Menu-Items {
	position: absolute; // 1
	margin: 0; // 2
	margin-top: -150%; // 1
	padding: 0; // 2
	background-color: white;
	opacity: 0; // 1
	width: 100%;
	z-index: 1;
	transition: $global-transition;

	&.is-open {
		position: static;
		margin: 0;
		opacity: 1;
	}
	
	@include md{
		position: static;
		margin: 0;
		opacity: 1;
		display: flex;
	}


}

.c-Menu-Items-right {
	justify-content: flex-end;
}


//
// ITEM
//

.c-Menu-Item {
	border-bottom: $global-border;
	list-style: none;
	
	@include md{
		border: none;
	}
}


//
// MOBILE CONTAINER
//

.c-Menu-MobileContainer {
	position: relative;
	z-index: $global-z-index-menu;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: $global-border;
	background-color: white;

	@include md {
		padding-left: 0;
	}
}


//
// TRIGGER
//

.c-Menu-Trigger {
	padding: $component-menu-padding;
	@include md {
		display: none;
	}
}


//
// ANCHOR
//

.c-Menu-Anchor {
	display: block;
	padding: $component-menu-padding;
	text-align: center;
	text-decoration: none;
	color: $global-text-color;
	border-bottom: 2px solid transparent;

	&.is-active, &:hover{
		color: $global-text-color-active;
		@include md {
			border-color: $global-text-color-active;
		}
	}
}