//
// GRID COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


//
// GRID
//

.c-Grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


//
// ITEM
//

.c-Grid-Item {
    list-style: none;
}





//////////////////////////////////////////////////////////////////////
// ITEM WIDTHS
//////////////////////////////////////////////////////////////////////

.u-2-s {
    @include sm {
        width: 50% !important;
    }
}


    .u-3-md {
        @include md{
            width: 33% !important;
        }
    }





//////////////////////////////////////////////////////////////////////
// ORIENTATION MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-Grid-column {
    flex-direction: column;
}
.c-Grid-row {
    flex-direction: row;
}
.c-Grid-row\@m {
    @include md {
        flex-direction: row;
    }
}




//////////////////////////////////////////////////////////////////////
// EQUAL WIDTHS
//////////////////////////////////////////////////////////////////////


.c-Grid-equal {
    .c-Grid-Item {
        flex: 1;
    }
}





//////////////////////////////////////////////////////////////////////
// WRAP
//////////////////////////////////////////////////////////////////////


.c-Grid-wrap {
    flex-wrap: wrap;
}

.c-Grid-wrap\@m {
    @include md {
        flex-wrap: wrap;
    }
}





//////////////////////////////////////////////////////////////////////
// SPACING
//////////////////////////////////////////////////////////////////////


.c-Grid-spacing {
    .c-Grid-Item {
        margin-right: $spacing;

        &:last-child {
            margin-right: 0;
        }
    }
}