//
// TEXT UTILITIES
//





//////////////////////////////////////////////////////////////////////
// JUSTIFY CONTENT
//////////////////////////////////////////////////////////////////////


.u-textAlign-center {
    text-align: center !important;
}



//////////////////////////////////////////////////////////////////////
// JUSTIFY CONTENT
//////////////////////////////////////////////////////////////////////


.u-text-uppercase {
    text-transform: uppercase;
}

.u-bkg-neutral {
    background-color: $global-color-light-grey;
}