//
// CENTER UTILITIES
//



//////////////////////////////////////////////////////////////////////
// CENTER SELF
//////////////////////////////////////////////////////////////////////


.u-center-self {
    display: block;
    margin-left: auto;
    margin-right: auto;
}